<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <div layout:fragment="content">
    <form action="" method="post" th:object="${dto}">
      <h2>GuestBook Register Page</h2>

      <div class="mb-3">
        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          id="title"
          class="form-control"
          th:value="${dto.title}"
        />
        <div
          th:if="${#fields.hasErrors('title')}"
          th:errors="*{title}"
          class="text-danger"
        ></div>
      </div>
      <div class="mb-3">
        <label for="content">Content</label>
        <textarea
          style="height: 200px"
          name="content"
          id="content"
          class="form-control"
          th:text="${dto.content}"
        ></textarea>
        <div
          th:if="${#fields.hasErrors('content')}"
          th:errors="*{content}"
          class="text-danger"
        ></div>
      </div>
      <div class="mb-3">
        <label for="writer">Writer</label>
        <input
          type="text"
          name="writer"
          id="writer"
          class="form-control"
          th:value="${dto.writer}"
        />
        <div
          th:if="${#fields.hasErrors('writer')}"
          th:errors="*{writer}"
          class="text-danger"
        ></div>
      </div>
      <div>
        <button class="btn btn-success" type="submit">Save</button>
        <button class="btn btn-info" type="button">List</button>
      </div>
    </form>
  </div>
</html>
